.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    z-index: 1100;
}

.content {
    max-width: 600px;
    text-align: center;
}

.split-text {
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: 600;   /* Equivalent to font-semibold */
    text-align: center;
    color: white;
}
